
{% set common.int_names = ['int8', 'int16', 'int32', 'int64']                   %}
{% set common.int_ctypes = ['int8_t', 'int16_t', 'int32_t', 'int64_t']          %}
{% set common.int_nbits = ['8', '16', '32', '64']                               %}
{% set common.int_nans = ['INT8_MIN', 'INT16_MIN', 'INT32_MIN', 'INT64_MIN']    %}
{% set common.int_prefixes = ['nint8', 'nint16', 'nint32', 'nint64']            %}
{% set common.py_prefixes = ['Py_nint8', 'Py_nint16', 'Py_nint32', 'Py_nint64'] %}
